@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --cor-primaria:#FFFFFF;
    --cor-secundaria:#8E2424;
    --cor-terciaria:#000000;
    --cor-quartenaria:#b4131310;
    --fonte--primaria:"inter", sans-serif;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: var(--fonte--primaria);
    padding-left: 5rem;
    padding-right: 5rem;
}
.cabecalho{
    font-family: var(--fonte--primaria);
    text-align: center;
}

.cabecalho__menu{
    display: flex;
    margin: 1.5rem 0rem;
    align-items: center;
    justify-content: center;
}

.cabecalho__foto{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: auto;
}

.cabecalho__foto__text{
    width: 7rem;
    height: 1,5rem;
}

.cabecalho__link{
    display: flex;
    margin: auto;
    gap: 1rem;
    margin-right: 15rem;
}

.cabecalho__botoes{
    text-decoration: none;
    color: var(--cor-terciaria);
    width: 78px;
    height: 24px;
}

.cabecalho__log{
    display: flex;
    margin: auto;
    gap: 2rem;
    
}

.cabecalho__log__buttom{
    text-decoration: none;
    color: var(--cor-terciaria);
    margin: auto;
}

.cabecalho__log__buttom_dec{
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 15px;
}

.conteudo__apresentacao__principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.conteudo__link{
    text-decoration: none;
    margin: auto;
    color: var(--cor-secundaria);
    padding: 2em 3em 3em 3em;
    font-weight: 600;
    font-size: 16px;
}

.conteudo__sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    font-family: var(--fonte--primaria);
}

.conteudo__principal__texto{
    width: 652px;
    height: 60px;
    margin: auto;
    font-size: 40px;
    font-family: var(--fonte--primaria);
}

.conteudo__texto{
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-family: var(--fonte--primaria);
    font-weight: 200;
    font-size: 20px;
}

.conteudo__visu{
    display: flex;
    gap: 8rem;
    justify-content: center;
    padding: 8em;
}

.conteudo__numero{
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 60px;
}

.conteudo__strong{
    padding: 1em 0;
    font-size: 18px;
}

.conteudo__paragrafo{
    font-style: 16px;
    font-weight: 400;
}

.conteudo__descricao{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    font-family: var(--fonte--primaria);
    padding: 12em 0 5em 0;
}

.conteudo__button{
    background-color: var(--cor-quartenaria);
    margin: auto;
    border-radius: 50px;
    color: var(--cor-secundaria);
    padding: 4px;
    font-weight: 500;
}

.conteudo__texto_h2{
    margin-bottom: 1rem;
    font-size: 2em;
}

.conteudo__texto_paragrafo{
    font-size: 1.5rem;
}

.conteudo__img-abaixo{
    margin-top: 2.5rem;
}

.valores__vaga{
    display: flex;
    flex-direction: column;
    padding-left: 10rem ;
}

.valores__vaga__principal{
    padding: 1em;
}

.valores__div{
    padding: 2em;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: -19px 368px 40px 20px;
}

.valores__strong{
    padding-bottom: 2em;
}

.valores__paragrafo{
    font-weight: 200;
}

.comentarios{
    padding: 12em 8em 0 8em;
}

.comentarios__div{
 text-align: center;background-color: var(--cor-quartenaria);
 border-radius: 10px;
 padding: 5rem;
 
}

.comentarios__topo__paragrafo{
    color: var(--cor-secundaria);
    padding-bottom: 1rem;
}

.comentario__detalhe{
    padding-bottom: 1rem;
}

.comenario__sobre{
    font-size: 14px;
    padding-top: 1rem;
    font-weight: 400;
}

.rodape{
    text-align: center;
    margin: 7em;
}

.rodape__texto-maior{
    font-weight: 600;
    font-size: 40px;
    padding: 1em;

}

.rodape__texto-menor{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 4rem;
}

.rodape__interior__flex{
    display: flex;
    margin: auto;
    
}

.rodape__email{
    display: flex;
    border: 0.1px solid rgb(187, 185, 185);
    border-radius: 15px;
    padding: 18px 200px 19px 11px;
    margin: 18px 16px 5px 187px;
    
}

.rodape__botao{
    display: flex;
    background-color: var(--cor-secundaria);
    text-align: center;
    color: var(--cor-primaria);
    border-radius: 10px;
    padding: 20px;
    margin: 9px;
}

.rodape__texto__final{
    padding-top: 1rem;
    font-weight: 400;
    size: 16px;
}